.address-page {
    & .default-address {
        border: 1px solid $primary-color;
    }

    & .default-address-label {
        font-size: 10px;
        font-style: italic;
        color: #636363;
    }

    .set-default {
        font-weight: 600;
        font-size: 1.4rem;
    }

    .address-edit-btn, .address-delete-btn {
        font-weight: 600;
        font-size: 1.4rem;
    }

    .address-card-bottom {
        margin-top: 1rem;
        @extend .vertical-center;
        justify-content: space-between;
    }
}