.cart_page {
  height: 100vh;
  background-color: #fff;
}

.cart {
  background-color: #fff;
}

// div.cart_product_wrapper:not(:last-child)::after {
div.cart_product_wrapper:after {
  content: "";
  height: 0.1rem;
  position: absolute;
  left: 1.8rem;
  right: 1.8rem;
  display: block;
  z-index: 199;
  background-color: #f6f6f6;
}

.shop-icon {
  height: 2.4rem;
  object-fit: contain;
}

.cart_product_wrapper {
  .btn_minus_qty,
  .btn_add_qty {
    @extend .xy-center;
    background-color: #fff;
    border: 0px;
    padding: 0 0.7rem;
    height: 3rem;
  }

  .btn_add_qty {
    border-radius: 0 0.4rem 0.4rem 0;
  }

  .btn_minus_qty {
    border-radius: 0.4rem 0 0 0.4rem;
  }

  .input_qty {
    text-align: center;
    height: 3rem;
    font-size: 1.4rem;
    border: 0px;
    color: #3F3F3F;
  }

  margin-bottom: 0.5rem solid black;
  .cart_header {
    display: flex;
    align-items: baseline;
    padding: 1.5rem 0;
    gap: 0.5rem;
  }

  .cart_product {
    display: flex;
    border-top: 1px solid #f6f6f6;
    padding: 0.8rem 0;

    &__item_name,
    &__item_price {
      margin-bottom: 0px;
    }

    &__item_price {
      color: $font-price;
    }

    &__items {
      display: flex;
    }

    &__item_img {
      height: 7rem;
      object-fit: contain;
      object-position: center;
    }

    &__qty_controls {
      width: 40%;
    }

    &__left {
      @extend .vertical-center;
      justify-content: space-around;
      width: 35%;
    }

    &__item_details {
      width: 70%;
    }

    &__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 65%;
      & > p {
        margin-bottom: 0;
      }
    }
  }
}

.cart-header {
  position: relative;
  & .cart-navigations {
    display: flex;
    justify-content: space-around;
    padding: 0.8rem 0;
  }

  &__separator {
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #f6f6f6;
  }

  & .cart-select-all {
    @extend .vertical-center;
    height: 100%;
    padding-top: .8rem;
    padding-bottom: .8rem;
    gap: .8rem;

  }

  & .total-cart-items {
    margin-left: .5rem;
    font-size: 1.2rem;
  }
}
