.place-order__wrapper {
    min-height: 100vh;
    background-color: #fff;
    margin-bottom: 5rem;
    
   .delivery-address, .totals {
        border: .1rem solid #94FFB7;
        background-color: #DFFEE9;
        border-radius: 4px;
        padding: 1rem;
    }


    .delivery-address {
       margin-top: 1.2rem;
       margin-left: 2rem;
       margin-right: 2rem;
       border: .3rem dashed #94FFB7;

       &__header {
        @extend .vertical-center;
        justify-content: space-between;

        & div {
            font-weight: 600;
        }
       }
   }

   .totals {
    .totals-label, .totals-value {
        display: flex;
        justify-content: flex-end;
    }
   }

    div.order_contents:not(:last-child)::after {
        content: '';
        width: 100vw;
        height: .5rem;
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        z-index: 199;
        background-color: #F6F6F6;
    }

    .shop-icon {
        height: 2.4rem;
        object-fit: contain;
    }
    
    .order_contents {    
        margin-bottom: .5rem;

        .order_header {
            display: flex;
            align-items: baseline;
            padding: 1.5rem 0;
            gap: .5rem;
        }
    
    
    
        .order_body {
            // display: flex;
            border-top: 1px solid #F6F6F6;
    
            &__item_price {
                color: $font-price;
            }
    
            &__items {
                display: flex;
            }
    
            &__img {
                height: 7rem;
                object-fit: contain;
                object-position: center;
            }
    
            &__left {
                @extend .vertical-center;
                justify-content: space-around;
                // width: 40%;
            }

            &__center {
                @extend .horizontal-center;
                flex-direction: column;
                p {
                    margin: 0
                }
            }
    
            &__right {
                // @extend .horizontal-center;
                @extend  .vertical-center;
                justify-content: flex-end;
            }
    
            .group-quantity-actions {
                width: 50%;
            }
        }
    }
}